# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: cavalheiro
# "service" is the name of this project. This will also be added to your AWS resource names.
service: split-money-serverless

# Deploy to different environments:
# serverless deploy --stage dev
# serverless deploy --stage staging  
# serverless deploy --stage prod
# Default stage is 'dev' if not specified

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

package:
  individually: true

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'dev'}
  memorySize: 128
  architecture: arm64
  tags:
    Environment: ${self:provider.stage}
    Project: split-money
  stackTags:
    Environment: ${self:provider.stage}
    Project: split-money
  logRetentionInDays: ${self:custom.stages.${self:provider.stage}.logRetention}
  httpApi:
    cors:
      allowedOrigins:
        - 'http://localhost:3000'
        - 'https://split-money.vercel.app'
        - 'https://splitmoney.com.br'
        - 'https://staging.splitmoney.com.br'
      allowedHeaders:
        - 'Content-Type'
        - 'Authorization'
        - 'Set-Cookie'
      allowedMethods:
        - 'GET'
        - 'POST'
        - 'PUT'
        - 'PATCH'
        - 'DELETE'
        - 'OPTIONS'
      allowCredentials: true
      exposedResponseHeaders:
        - 'Set-Cookie'
    authorizers:
      CognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: !GetAtt SplitMoneyUserPool.ProviderURL
        audience:
          - !Ref SplitMoneyUserPoolClient
  environment:
    STAGE: ${self:provider.stage}
    SUPABASE_URL: ${env:SUPABASE_URL}
    SUPABASE_KEY: ${env:SUPABASE_KEY}
    COGNITO_CLIENT_ID: !Ref SplitMoneyUserPoolClient
    COGNITO_USERPOOL_ID: !Ref SplitMoneyUserPool

custom:
  dotenv:
    path: .env.${self:provider.stage}
    basePath: ./
    include:
      - SUPABASE_URL
      - SUPABASE_KEY
      - ROUTE53_HOSTED_ZONE_ID
  stages:
    dev:
      logRetention: 7
      # Dev usa a URL padrão do API Gateway (não precisa de domínio customizado)
      # Formato: https://{api-id}.execute-api.{region}.amazonaws.com
    staging:
      logRetention: 14
      domainName: api-staging.splitmoney.com.br
    prod:
      logRetention: 30
      domainName: api.splitmoney.com.br
  esbuild:
    target: node20
    format: esm
    minify: true
    bundle: true
    sourcemap: false
    exclude:
      - '@aws-sdk/*'

resources:
  Conditions:
    HasCustomDomain: !Not [!Equals ['${self:provider.stage}', 'dev']]
  
  Resources:
    SplitMoneyUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: SplitMoneyUserPool-${self:provider.stage}
        MfaConfiguration: OFF
        AutoVerifiedAttributes:
          - email
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: false
        UsernameAttributes:
          - email
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: verified_email
              Priority: 1
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireLowercase: false
            RequireNumbers: false
            RequireSymbols: false
            RequireUppercase: false
        Schema:
          - Name: email
            Required: true
            Mutable: true
            AttributeDataType: String
          - Name: name
            Required: true
            Mutable: true
            AttributeDataType: String
    SplitMoneyUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: SplitMoneyUserPoolClient-${self:provider.stage}
        UserPoolId: !Ref SplitMoneyUserPool
        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
        TokenValidityUnits:
          AccessToken: hours
          RefreshToken: hours
        AccessTokenValidity: 10
        RefreshTokenValidity: 168 # 7 days
      # 1. Certificado no ACM

    APIGatewayCertificate:
      Type: AWS::CertificateManager::Certificate
      Condition: HasCustomDomain
      Properties:
        DomainName: ${self:custom.stages.${self:provider.stage}.domainName, ''}
        ValidationMethod: DNS
        DomainValidationOptions:
          - DomainName: ${self:custom.stages.${self:provider.stage}.domainName, ''}
            HostedZoneId: ${env:ROUTE53_HOSTED_ZONE_ID}

    # 2. Domínio customizado na API Gateway
    APIGatewayCustomDomain:
      Type: AWS::ApiGatewayV2::DomainName
      Condition: HasCustomDomain
      Properties:
        DomainName: ${self:custom.stages.${self:provider.stage}.domainName, ''}
        RoutingMode: API_MAPPING_ONLY
        DomainNameConfigurations:
          - CertificateArn: !Ref APIGatewayCertificate
            EndpointType: REGIONAL
            IpAddressType: ipv4
            SecurityPolicy: TLS_1_2

    # 3. Mapeamento da API para o domínio
    APIGatewayApiMapping:
      Type: AWS::ApiGatewayV2::ApiMapping
      Condition: HasCustomDomain
      Properties:
        ApiId: !Ref HttpApi
        DomainName: !Ref APIGatewayCustomDomain
        Stage: $default

    APIGatewayCustomDomainDNSRecord:
      Type: AWS::Route53::RecordSet
      Condition: HasCustomDomain
      Properties:
        HostedZoneId: ${env:ROUTE53_HOSTED_ZONE_ID}
        Type: A
        Name: !Ref APIGatewayCustomDomain
        AliasTarget:
          HostedZoneId: !GetAtt APIGatewayCustomDomain.RegionalHostedZoneId
          DNSName: !GetAtt APIGatewayCustomDomain.RegionalDomainName

functions:
  # Auth
  signin:
    handler: src/functions/auth/sign-in.handler
    events:
      - httpApi:
          path: /sign-in
          method: post
  confirmEmail:
    handler: src/functions/auth/confirm-email.handler
    events:
      - httpApi:
          path: /confirm-email
          method: post
  forgotPassword:
    handler: src/functions/auth/forgot-password.handler
    events:
      - httpApi:
          path: /forgot-password
          method: post
  resetPassword:
    handler: src/functions/auth/reset-password.handler
    events:
      - httpApi:
          path: /reset-password
          method: post

  refreshToken:
    handler: src/functions/auth/refresh-token.handler
    events:
      - httpApi:
          path: /refresh-token
          method: post
  # User
  createUser:
    handler: src/functions/user/create-user.handler
    events:
      - httpApi:
          path: /create-user
          method: post
  me:
    handler: src/functions/user/me.handler
    events:
      - httpApi:
          path: /user/me
          method: get
          authorizer:
            name: CognitoAuthorizer
  getUserById:
    handler: src/functions/user/get-user-by-id.handler
    events:
      - httpApi:
          path: /user/{id}
          method: get
          authorizer:
            name: CognitoAuthorizer
  confirmUser:
    handler: src/functions/user/confirm-user.handler
    events:
      - httpApi:
          path: /confirm-user
          method: post
  updateEmail:
    handler: src/functions/user/update-email.handler
    events:
      - httpApi:
          path: /user/email
          method: patch
          authorizer:
            name: CognitoAuthorizer
  # Transaction
  createTransaction:
    handler: src/functions/transaction/create-transaction.handler
    events:
      - httpApi:
          path: /transaction
          method: post
          authorizer:
            name: CognitoAuthorizer
  updateTransaction:
    handler: src/functions/transaction/update-transaction.handler
    events:
      - httpApi:
          path: /transaction/{id}
          method: patch
          authorizer:
            name: CognitoAuthorizer
  deleteTransaction:
    handler: src/functions/transaction/delete-transaction.handler
    events:
      - httpApi:
          path: /transaction/{id}
          method: delete
          authorizer:
            name: CognitoAuthorizer
  getTransactions:
    handler: src/functions/transaction/get-transactions.handler
    events:
      - httpApi:
          path: /transaction
          method: get
          authorizer:
            name: CognitoAuthorizer
  getTransactionById:
    handler: src/functions/transaction/get-transaction-by-id.handler
    events:
      - httpApi:
          path: /transaction/{id}
          method: get
          authorizer:
            name: CognitoAuthorizer
  bulkDeleteTx:
    handler: src/functions/transaction/bulk-delete-transactions.handler
    events:
      - httpApi:
          path: /transaction/bulk-delete
          method: post
          authorizer:
            name: CognitoAuthorizer
  # Scheduled - Recurring Transactions
  scheduleRecurringTx:
    handler: src/functions/scheduled/create-scheduled-recurring-transactions.handler
    events:
      - schedule:
          rate: cron(0 3 L * ? *)
          enabled: true
          description: 'Create recurring transactions at the end of each month (last day at 3 AM UTC)'
  triggerRecurringTx:
    handler: src/functions/scheduled/trigger-create-recurring-transactions.handler
    events:
      - httpApi:
          path: /scheduled/create-recurring-transactions
          method: post
          authorizer:
            name: CognitoAuthorizer

  # Recurring Transaction
  getRecurringTx:
    handler: src/functions/recurring-transaction/get-recurring-transactions.handler
    events:
      - httpApi:
          path: /recurring-transaction
          method: get
          authorizer:
            name: CognitoAuthorizer
  updateRecurringTx:
    handler: src/functions/recurring-transaction/update-recurring-transaction.handler
    events:
      - httpApi:
          path: /recurring-transaction/{id}
          method: patch
          authorizer:
            name: CognitoAuthorizer
  deleteRecurringTx:
    handler: src/functions/recurring-transaction/delete-recurring-transaction.handler
    events:
      - httpApi:
          path: /recurring-transaction/{id}
          method: delete
          authorizer:
            name: CognitoAuthorizer
  bulkDeleteRecurringTx:
    handler: src/functions/recurring-transaction/bulk-delete-recurring-transactions.handler
    events:
      - httpApi:
          path: /recurring-transaction/bulk-delete
          method: post
          authorizer:
            name: CognitoAuthorizer

  # Payment Status
  createPayment:
    handler: src/functions/payment-status/create-payment.handler
    events:
      - httpApi:
          path: /payment
          method: post
          authorizer:
            name: CognitoAuthorizer
  updatePayment:
    handler: src/functions/payment-status/update-payment.handler
    events:
      - httpApi:
          path: /payment/{id}
          method: patch
          authorizer:
            name: CognitoAuthorizer
  deletePayment:
    handler: src/functions/payment-status/delete-payment.handler
    events:
      - httpApi:
          path: /payment/{id}
          method: delete
          authorizer:
            name: CognitoAuthorizer
  getPayment:
    handler: src/functions/payment-status/get-payment.handler
    events:
      - httpApi:
          path: /payment
          method: get
          authorizer:
            name: CognitoAuthorizer

  # Category
  createCategory:
    handler: src/functions/category/create-category.handler
    events:
      - httpApi:
          path: /category
          method: post
          authorizer:
            name: CognitoAuthorizer
  updateCategory:
    handler: src/functions/category/update-category.handler
    events:
      - httpApi:
          path: /category/{id}
          method: patch
          authorizer:
            name: CognitoAuthorizer
  deleteCategory:
    handler: src/functions/category/delete-category.handler
    events:
      - httpApi:
          path: /category/{id}
          method: delete
          authorizer:
            name: CognitoAuthorizer
  getCategory:
    handler: src/functions/category/get-category.handler
    events:
      - httpApi:
          path: /category
          method: get
          authorizer:
            name: CognitoAuthorizer

  # Tag
  createTag:
    handler: src/functions/tag/create-tag.handler
    events:
      - httpApi:
          path: /tag
          method: post
          authorizer:
            name: CognitoAuthorizer
  updateTag:
    handler: src/functions/tag/update-tag.handler
    events:
      - httpApi:
          path: /tag/{id}
          method: patch
          authorizer:
            name: CognitoAuthorizer
  deleteTag:
    handler: src/functions/tag/delete-tag.handler
    events:
      - httpApi:
          path: /tag/{id}
          method: delete
          authorizer:
            name: CognitoAuthorizer
  getTag:
    handler: src/functions/tag/get-tag.handler
    events:
      - httpApi:
          path: /tag
          method: get
          authorizer:
            name: CognitoAuthorizer
